<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
	<h1> Haribol </h1>
	<form method="post" >
	  <label>Name
	     <input type="text" name="username" required value="{{data.username}}">
		{% if data.usernameInvalid %}
		 <span style="color: red;">Please Enter a Valid Username</span>
		{% endif %}
	  </label><br>
	 <label>Password
	     <input type="password" name="password" required>
		{% if password=='invalid'%}
		 <span style="color: red;">Please Enter a Valid password</span>
		{% endif %}
	  </label><br>
	 <label>Verify Password
	     <input type="password" name="verify" required>
		{% if data.mismatch %}
		 <span style="color: red;">Your password doesnt match</span>
		{% endif %}
	  </label><br>
	 <label>Email
	     <input type="email" name="email" value="{{data.email}}">
	  </label>
	  <button type="submit" >Send data</button>	
	</form>
</body>
</html>


